
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
    color: #333;

}

header {
    background-color: #5698de;
    color: rgb(0, 0, 0);
    padding: 40px 20px;
    border-bottom: 5px solid #0056b3;

}

header h1 {
    margin: 0;
    font-size: 2.5em;
    text-align: center;
}

header h2 {
    margin: 20px 0;
    font-size: 1.8em;
    text-align: center;
}

form {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

fieldset {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;

}

legend {
    color: #007bff;
    padding: 0 10px;
}

input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"],
select {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    text-transform: uppercase;
    font-weight: bold;
  
}

button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

.direita{
    text-align: center;
}