body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}
h1 {
    text-align: center;
    color: #5782d2;
    margin-top: 20px;
    font-size: 2.5em;
}
hr {
    border: 0;
    border-top: 2px solid #464ab1;
    width: 50%;
    margin: 20px auto;
}
fieldset {
    border: 2px solid #464ab1;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
}
legend {
    font-size: 1.5em;
    color: #464db6;
}
button {
    background-color: #3a41a2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 10px 0;
    border-radius: 5px;
}
button:hover {
    background-color: #868ccf;
}

